

* {

    margin: 0;
    padding: 0;

}

.background-styles div {

    display: flex;


}


@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}

body {

    margin: 0;
    padding: 0;

}

.header-style {

    font-family: Roboto-Bold;
    background-color: #1F2937;
    flex-basis: 100%;
    height: 400px;

}

.background-styles .product-features {

    background: #FFFFFF;
    flex-basis: 100%;
    height: 400px;

}

.quote-section {

    background: #E5E7EB;
    flex-basis: 100%;
    height: 300px;

}

.background-styles .call-to-action {

    background: #FFFFFF;
    flex-basis: 100%;
    height: 200px;

}

.footer {

    background: #1F2937;
    flex-basis: 100%;
    height: 75px;

}

.header-logo {

    color:#FFFFFF;
    background: green;
    position: relative;
    align-self: flex-start;
    margin-left: 120px;
    /*
    top: 10px;
    left: 80px;
    */

}

.header-link-one {

    color: #FFFFFF;
    background: red;;
    align-self: flex-start;
    margin-left: 80px;
    margin-right: 15px;

}

.header-link-two {

    color: #FFFFFF;
    background-color: blue;
    position: relative;
    align-self: flex-start;
    top: 0px;
    margin-right: 15px;

}

.header-link-three {

    color: #FFFFFF;
    background-color: purple;
    position: relative;
    align-self: flex-start;
    top: 0px;

}