

.background-styles div {

    display: flex;


}

body {

    margin: 0;
    padding: 0;

}

.background-styles div.header-style {

    background-color: #1F2937;
    flex-basis: 100%;
    height: 400px;

}

.background-styles div.product-features {

    background: #FFFFFF;
    flex-basis: 100%;
    height: 400px;

}

.background-styles div.quote-section {

    background: #E5E7EB;
    flex-basis: 100%;
    height: 300px;

}

.background-styles div.call-to-action {

    background: #FFFFFF;
    flex-basis: 100%;
    height: 200px;

}

.background-styles div.footer {

    background: #1F2937;
    flex-basis: 100%;
    height: 75px;
}